/* .main{
   background-image: url("./assets/bg.jpg");
} */
.test{
    color:brown;
    font-size: 50px;
    margin: 10px 50px 0 0;
}
.main{
    background-color: crimson;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputfield{
    margin: 10px;
}
.navbar{
    background-color: rgb(78, 75, 75);
   text-align: right; 
   padding: 15px;
   
}
.activity{
   overflow: hidden;
   padding: 7px;
   text-decoration: none;
   color: rgb(247, 250, 250);
   
}